# Bytecode
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build artifacts
build/
dist/
*.spec

# Executables
*.exe

# IDE / Editor
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Output / Temp
output/
temp/
*.log

# Tesseract local path config
tesseract_path.txt